.title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3%;
    color: black;
}

.primary_btn {
  background-color: #ff8f72;
  color: #fff; /* Set your desired text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Set your desired font size */
  border-radius: 15px; /* Adjust border radius for rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  box-shadow: none; /* Set to none to remove the shadow */
  cursor: pointer;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary_btn:hover {
  background-color: #c133f9; /* Set your desired hover background color */
}
 
.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/papertexture.png'); /* Set the path or URL of your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

  .description {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .galleryWrapper {
    --cell-width: 300px;
    --cell-margin: 10px;
  
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--cell-width), 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .galleryItem {
    display: block;
    position: relative;
    margin: var(--cell-margin);
  }
  
  .galleryItemInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .galleryImg {
    transition: opacity 0.3s ease-in-out;
  }
  
  .galleryItem:hover .galleryImg {
    opacity: 0.3;
  }
  
  .galleryItem:hover .galleryItemInfo {
    opacity: 1;
  }
  