body {
  margin: 0;
  padding: 0;
  background-image: url('/everything.png'); 
  background-size: cover;
  background-position: fixed; 
  background-repeat: no-repeat; 
  background-attachment: scroll;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }
}

h1 {
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}